/* default styling */
html {
  font-size: 62.5%;
}

*,
h1,
h2,
h3,
p,
ul,
li,
a,
img,
body,
main {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1100px;
  width: 90%;
  margin: 0 auto;
}

/* styling */

/* page */

/* MODAL */

.modal__closeContainer,
.header__logoContainer,
.nav__menuContainer,
.imageInfoContainer,
.imageInfo,
footer,
label,
.footer__socialLinksList {
  display: flex;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 30; /* Sit on top */
  padding: 2rem;
  /* margin: 3% auto; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%; /* Full width */
  max-width: 110rem;
  height: calc(80% - 6%); /* Full height */
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal__content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 100%; /* Could be more or less, depending on screen size */
}

.modal__closeContainer {
  justify-content: flex-end;
}

.modal__close {
  text-align: end;
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 3rem;
  background-color: black;
  display: inline-block;
  padding: 0 1rem;
  border-radius: 10%;
}

.modal__close:hover,
.modal__close:focus {
  text-decoration: none;
  cursor: pointer;
}

.modal__altImages {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  margin: 1rem 0;
  gap: 1rem;
}

.modal__altImages:hover {
  cursor: pointer;
}

.modal__writtenContent h5 {
  font-family: "Quicksand", sans-serif;
  font-size: 1.8rem;
  margin: 0.5rem 0;
}

.modal__writtenContent h4 {
  font-size: 2.6rem;
  margin: 0.5rem 0;
}

.modal__writtenContent p {
  margin: 2rem 0;
}

/* *********************************************************** */

header {
  margin: 0;
}

.header__vpLogo {
  max-width: 17.5rem;
  max-height: 18rem;
  margin: 1.5rem 0;
}

.nav__navbar {
  position: absolute;
  width: 100%;
  display: none;
}

.header__logoContainer,
.imageInfo {
  justify-content: center;
}

section {
  padding: 5rem 0;
}

body {
  background-color: rgba(230, 230, 240, 0.8);
}

section:nth-child(even) {
  background-color: #fff;
  padding: 5% 0;
}

.page__imageContainer > img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.pageHeroImage {
  max-width: 40rem;
}

/* header */

header {
  width: 100%;
  top: 0;
  position: relative;
  z-index: 20;
}

header,
footer {
  background-color: #143857;
}

h1,
h2,
a,
footer p {
  color: rgb(230, 230, 240);
}

h1,
h4 {
  font-family: "Playfair Display", serif;
}

.nav__navbar a,
.nav__burger,
.galleryHover:hover {
  cursor: pointer;
}

h1 {
  font-size: 2.5rem;
  margin: 0.2rem 0;
}

h2,
h3 {
  font-family: "Quicksand", sans-serif;
}

h3 {
  font-size: 2.6rem;
  margin: 1.5rem 0;
  font-weight: 500;
}

.nav__burger li {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.5rem;
  background-color: rgba(230, 230, 240, 1);
}

nav {
  position: sticky;
  top: 0;
  background-color: #143857;
  height: 12vh;
  z-index: 30;
}

.nav__menuContainer {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  height: 12vh;
}

.nav__burger {
  width: 3.8rem;
}

.nav__navbar {
  top: 12vh;
  left: 0;
  width: 100%;
  background-color: rgba(230, 230, 240, 1);
  transform: translateY(100%);
  transition: transform 0.5s ease-in;
}

.nav__navbar li {
  text-align: center;
  width: 100%;
  height: 100%;
}

.nav__navbar li a {
  display: inline-block;
  color: black;
  width: 100%;
  height: 100%;
  padding: 2rem 0.5rem;
  border: 1px solid rgba(230, 230, 240, 1);
}

.nav__navbar li a:hover,
.nav__navbar li a:focus-within {
  border: 1px solid #143857;
}

.nav__navbarActive {
  transform: translateX(0);
  display: block;
}

h4 {
  font-size: 2rem;
}

p,
a,
label {
  font-family: "Open sans", sans-serif;
  font-size: 1.6rem;
}

p {
  line-height: 2.4rem;
  font-weight: 400;
}

/* gallery */

.work__gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.galleryImageContainer {
  position: relative;
  z-index: 0;
}

.galleryHover {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  /* transition: ease-in .3s; */
}

.galleryHover:hover {
  background-color: rgba(230, 230, 240, 0.6);
  visibility: visible;
  transition: 0.4s;
}

.imageInfoContainer {
  width: 100%;
  height: 100%;
  background-color: transparent;
  align-items: center;
  visibility: hidden;
}

.imageInfo {
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  color: transparent;
  padding: 2%;
}

/* CSS HOVER */
.galleryHover:hover > .imageInfoContainer > .imageInfo {
  color: rgba(230, 230, 240, 1);
  background-color: rgba(0, 0, 0, 0.8);
  height: 80%;
  width: 100%;
  transition: 0.8s;
  visibility: visible;
}

/* contact */

.pageHeroImage.contactHero img {
  border-radius: 2rem;
}

label {
  flex-direction: column;
}

form {
  margin: 4rem 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  grid-template-areas:
    "name"
    "email"
    "message"
    "subButton";
}

textarea {
  resize: none;
  height: 12rem;
  padding: 2rem;
}

textarea,
input {
  border: 1px solid #143857;
  font-size: 1.6rem;
  border-radius: 0.4rem;
}

label {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.formName {
  grid-area: name;
}

.formEmail {
  grid-area: email;
}

.formMessage {
  grid-area: message;
}

.subButton {
  grid-area: subButton;
}

input,
button {
  padding: 1rem 1.5rem;
}

button {
  font-size: 1.6rem;
  max-width: 20rem;
  border: 4px solid #143857;
  background-color: #143857;
  color: rgb(230, 230, 240);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.3rem;
  border-radius: 0.4rem;
}

button:hover {
  background-color: rgb(230, 230, 240);
  color: #143857;
  transition: ease-in-out 0.4s;
}

/* footer */
.footer {
  height: 15rem;
  padding: 2.5rem 0 1rem;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.footer__socialLinksList {
  width: 100%;
  justify-content: space-evenly;
  max-width: 50rem;
}

.footer__socialLink {
  color: rgb(230, 230, 240);
}

.footer__socialLink a {
  font-size: 3rem;
}

.footer__copy {
  text-align: center;
  padding: 1rem 0;
}

@media (min-width: 420px) {
  .galleryHover:hover > .imageInfoContainer > .imageInfo {
    height: 40%;
  }
}

@media (min-width: 768px) {
  nav {
    flex-direction: column;
  }

  .nav__navbar {
    position: relative;
    top: 0;
    left: 0;
    transform: translateX(0);
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    width: 60%;
  }

  .nav__navbar li a {
    color: rgb(230, 230, 240);
    border: 1px solid #143857;
    padding: 0.5rem 0;
  }

  .nav__navbar li a:hover,
  .nav__navbar li a:focus-within {
    border: 1px solid rgb(230, 230, 240);
  }

  .nav__burger {
    display: none;
  }

  .work__gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .sectionContent {
    display: flex;
  }

  .work__modal .imageContainer {
    width: 100%;
  }

  .modal__content {
    display: flex;
  }

  .modal__productImages,
  .modal__writtenContent {
    margin: 2rem;
    width: calc(50% - 4rem);
  }

  .header__imageContainer {
    width: 100%;
  }

  .aboutMeHero {
    margin: 5%;
  }

  .contactHero {
    margin-left: 3%;
  }

  .writtenContent {
    width: calc(60% - 4rem);
    align-self: center;
  }

  .aboutMeWrittenContent {
    margin: 2rem;
  }

  .contactWrittenContent {
    margin: 2rem;
  }
}

@media (min-width: 1100px) {
  .work__gallery {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  form {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "name email"
      "message message"
      "subButton .";
  }
}
